# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github_project\pubg_derecoil\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
